.root {
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
}

.item {
  display: inline-block;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
}

.link {
  color: rgba(0, 0, 0, 0.6);
  padding: 0.75rem 1.25rem;
  text-decoration: none;
  position: relative;
  border-radius: 4px;

  &:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    background-color: #61dafb;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transition: 0.2s;
  }

  &:hover, &:focus {
    outline: none;
    color: #1c5d66;
    background-color: rgba(#61dafb, 0.1);
    &:after {
      transform: scaleX(0.64);
    }
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba(#61dafb, 0.3);
  }
}
