.root {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  @media only screen and (min-width: 37rem) {
    max-width: 35rem;
  }

  @media only screen and (min-width: 60rem) {
    max-width: 64rem;
  }

  @media only screen and (min-width: 80rem) {
    max-width: 85rem;
  }

  @media only screen and (min-width: 90rem) {
    max-width: 96rem;
  }
}
